<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Clínica Médica</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>

<h1>Clínica Médica</h1>

<nav>

<a href="/">Início</a>

<a href="/pacientes">Pacientes</a>

<a href="/medicos">Médicos</a>

<a href="/consultas">Consultas</a>

</nav>

</header>

<main>

{{{body}}}

</main>

</body>
</html>
