<h2>Cadastrar Médico</h2>

<form action="/medicos/cadastrar" method="POST">

<label>Nome</label>

<input
type="text"
name="nome"
required>

<label>Especialidade</label>

<input
type="text"
name="especialidade"
required>

<label>CRM</label>

<input
type="text"
name="crm"
required>

<label>Telefone</label>

<input
type="text"
name="telefone"
required>

<br><br>

<button>

Salvar

</button>

</form>
