<h2>Cadastrar Paciente</h2>

<form action="/pacientes/cadastrar" method="POST">

<label>Nome</label>

<input
type="text"
name="nome"
required>

<label>CPF</label>

<input
type="text"
name="cpf"
required>

<label>Telefone</label>

<input
type="text"
name="telefone"
required>

<label>Email</label>

<input
type="email"
name="email"
required>

<label>Data de Nascimento</label>

<input
type="date"
name="dataNascimento"
required>

<br><br>

<button>

Salvar

</button>

</form>
